Body{
    margin: 0px;
    padding: 0px;
    background-color: rgb(238, 237, 237);
    font-family: Arial, Helvetica, sans-serif;
}


h4 {
    margin: 0;
    padding: 0;
}
.aba{

    display: flex;
    justify-content: space-between;
    background-color: rgb(239, 235, 235);
    padding: 5px 10px;
    border-bottom: 1px solid #d1d1d1;
    color: black;
    font-family: Arial;
    font-size: 12px;
    
}

.botao_fechar{
    cursor: pointer;

}


.conteudo_aba {
    display: flex;       
    align-items: center; 
    gap: 10px;           
    cursor: pointer;
}
.cabecalho{
    background-color: rgb(192, 190, 190);     
    margin: 0 auto;
    height: 25px;

}



.barra-longa {
     background-color: rgb(248, 194, 47);
  height: 10px;
   
}

.flex{
    display: flex;
}

.barra_ferramentas{
    display: flex;
    align-items: center;
    background-color: #eeeeee; 
    padding: 5px;
    gap: 5px;
    border-bottom: 1px solid #ccc;
}

.barra_nav{
    display: flex;
    align-items: center;
    background-color: #eeeeee; 
    padding: 5px;
    gap: 5px;
    border-bottom: 1px solid #ccc;
    width: 250px;
}

.botao{
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 2px 8px;
    
    border: 1px solid #b1b1b1; 
    border-radius: 2px;
    cursor: pointer;
    font-size: 13px;
    color: #333;
}

.apagado{
    color: #999;
    
}

.amarelo{
    background-color: yellow;
    padding: 80px;
    margin: 10px;
}

main {
    display: flex;
}

.azul{
    background-color: #71a2eb;
    border: 1px solid #71a2eb;
}
.nav_esquerda {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    background-color: #f0f0f0;   
    padding: 0 10px;
    border-bottom: 2px solid #005691; 
    font-family: Arial, sans-serif;
    height: 40px;
    width: 250px;
}
.nav_direita {
    display: flex;    
    align-items: center;
    background-color: #f0f0f0;   
    width: 60%;
   
    border-bottom: 2px solid #005691; 
    font-family: Arial, sans-serif;
   
    
}

#direita {
    width: 100%;
}
.nav_tabs {
    display: flex;
    gap: 20px;
    height: 100%;
}

.tab {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: bold;
    color: #666; 
    cursor: pointer;
    position: relative;
    
}



.area-tabela {
    width: 300px; 
    font-family: Arial, sans-serif;
}

.tabela-sap {
    width: 100%;
    border-collapse: collapse;
    font-size: 12px;
}

.tabela-sap th {
    background-color: #e5e5e5;
    border: 1px solid #ccc;
    padding: 6px;
    padding-right: 60%;
    text-align: left;
    font-weight: normal;
}


.tabela-sap td {
    border: 1px solid #ddd;
    padding: 6px;
    background-color: white;
}


.vazia {
    background-color: #eeeeee;
    width: 20px;
    border: 1px solid #ccc !important;
}

.fundo{
    background-color:whitesmoke;
    width: 2400px;
    height: 1400px;
    margin: 0 auto;
}
.esticar{
    padding: 80px;
    margin: 10px;
    color: rgb(192, 216, 243);
}
.alongar{
padding-right: 490px;
color: rgb(176, 205, 231)
}
.flex{
    display: flex;
}
.alongarmenos{
padding-right: 270px;
  width: 830px;
     height: 190px;
}
.esticarmenos{
    padding-bottom:270px;
}
.azul2{
    background-color: #9bc5ec;
     margin: 10px;
     padding: 80px;
     box-sizing: border-box;
}
.bloco {
    padding-right: 270px;
  width: 415px;
     height: 190px;
    

}
.logo-robo{
    width: 15%;

}




